<!doctype html>
<html>
   <body>
      <table border = 1>
         <thead>
            <td>Beer Name</td>
            <td>Beer Style</td>
            <td>Brewery Name</td>
	    <td>My Rating</td>
         </thead>
         
         {% for row in rows %}
            <tr>
               <td>{{ row["name"] }}</td>
               <td>{{ row["style"] }}</td>
               <td>{{ row["brewery"] }}</td>
	       <td>{{ row["rating"] }}</td>
            </tr>
         {% endfor %}
      </table>
      
      <a href = "/">Go back to home page</a>
   </body>
</html>

